@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand:wght@300&family=Rubik:wght@300;400&display=swap');
*{
  margin: 0;
  font-family: 'Rubik', sans-serif;
  
  color: white;
}

body{
  background-color: #000000; 
}


.navbar{
  background-color: #0f0f0f;
  padding: 25px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid #202123;
  margin-left: auto;
  height: 50px;
  
}
.navbar h1{
  font-weight: 200;
}

.links{
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-weight: 300;
  color: #00ffb7;
}

.navbar_currency_symbol{
  width: 40px;
  height: 40px;
  margin-right:10px;
}

.converter{
  background: rgb(15,15,15);
  background: linear-gradient(0deg, rgba(15,15,15,1) 50%, rgb(28,28,28) 100%);
  padding-top:4%;
  width: 100%; /* Set the width of the box */
  height: 400px; /* Set the height of the box */
  padding-bottom:10%;
}

.converter .header{
  font-weight:100;
  font-size:xx-large;
  margin-bottom: 2%;
  text-align:center;
  margin-left:25%;
  margin-right:25%;
}


.converter_main_box {
  border-radius: 15px;
  background-color: #1c1c1c;
  width: 60%;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  max-height:26%;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.converter_main_box.expanded {
  max-height: 100%; /* Set the desired expanded height */

}


.converter_labels{
  display: grid;
  grid-template-columns: 1fr 1fr 0.25fr 1fr;
  
  place-items: start;
  
}
.converter_label_value, .converter_label_from, .converter_label_to{
  margin-left:10%;
  font-size: 1.3rem;
  font-weight: 100;
}

.converter_inputs_box{
  display: grid;
  grid-template-columns: 1fr 1fr 0.25fr 1fr;
  margin-top:10px;
  place-items: center;
}

.converter_switch_button{
  background:#2fcb9e;
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #2fcb9e;
  cursor: pointer;
  
}
.converter_switch_button:hover{
  box-shadow: 0 0 10px rgba(0, 255, 183, 0.493);
}

.converter_value_input, .converter_from_input, .converter_to_input{
  width: 85%;
  height: 48px;
  border: 1.5px solid #0f0f0f;
  border-radius: 6px;
  background: #0f0f0f;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 1.1rem;
  padding-left:10px;
  font-weight: 100;

}

.converter_result{
  text-align: left;
  margin-top:5%;
  margin-left:3.3%;
}
.converter_result.invisible{
  visibility: hidden;
}

.converter_result_text_1{
  font-size:1.65rem;
  font-weight:100;
}

.converter_result_text_2{
  font-size:2.9rem;
  font-weight:100;
  margin-top:2%;
}
.converter_conversion_text1{
  font-size:1.1rem;
  font-weight:100;
  margin-top:2%;
  color: #00ffb7
}
.converter_conversion_text2{
  font-size:1.1rem;
  font-weight:100;
  margin-top:1%;
  color: #00ffb7
}

.converter_data_boxs{
  margin-top:4%;
  display: flex;
  height: 17em; /* Set the height of the box */
  
}

.historical{
  background: #0f0f0f;
  padding-top:4%;
  width: 100%; /* Set the width of the box */
  height: 1200px; /* Set the height of the box */
  padding-bottom:10%;
}


.historical .header{
  font-weight:100;
  font-size:xx-large;
  margin-bottom: 1%;
  text-align:center;
  margin-left:25%;
  margin-right:25%;
}

.historical_description{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.historical_description_header{
  font-weight:100;
  font-size:x-large;
  text-align:center;
  margin-right:1%;
}

.historical_description_changeCurrency{
  width: 80px;
  height: 40px;
  border: 1.5px solid #949494;
  border-radius: 6px;
  background: #1c1c1c;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 1.1rem;
  padding-left:10px;
  font-weight: 100;
}

.historical_box{
  border-radius: 15px;
  background-color: #1c1c1c;
  width: 60%;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px;
}

.historical_box_labels{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: start;
  padding-bottom: 10px;
  border-bottom: 1px solid #4f6961;
}

.historical_box_lists_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.historical_box_lists_container_symbol{
  color:#2fcb9e;
  padding-left:10px;
  font-size:smaller;

}
.historical_box_lists_container div{
  padding-top:20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #4f6961;
  padding-left: 10%;
}

.bottom_info{
  padding:40px;
  text-align: left;
  margin-left:50px;
  display: grid;
  place-items: center;
  
}

.bottom_socials{
  list-style: none; /* Remove the default bullet points */
  padding: 0; /* Remove any default padding */
  margin: 0; /* Remove any default margin */
  text-align: left;

}

.bottom_socials li {
  
  margin-bottom: 12px; /* Adjust the vertical spacing between list items */
}

.bottom_socials li a {
  text-decoration: none; /* Remove underline from links */
  color: #ffffff; /* Set the color of the links */
}

.bottom_socials li a:hover {
  color: #e3e3e3; /* Set the color of the links on hover */
}


.bottom_info p{
  margin-bottom: 12px;
}


